.calendar {
  height: 100%;

  .calendar-summary {
    padding-left: 5px;
    border-top: 1px solid color(light-gray);
    box-shadow: 0px -2px 2px color(light-gray);
    .header {
      margin-top: 5px;
    }
    .event {
      display: flex;
      margin: 5px 3px;

      .gift {
        padding: 3px;
      }

      .details {
        display: flex;
        width: 100%;
        padding: 3px;
        border: 1px solid color(light);
        border-radius: 3px;
        .description {
          width: 50%;
        }

        .date {
          font-style: italic;
          color: color(secondary-text);
        }
      }
    }
  }

  .year-view {
    height: 75%;
    .year {
      display: flex;
      width: 33%;
      height: 33%;
      float: left;
      align-items: center;
      justify-content: center;

      .year-text {
        line-height: 60px;
        width: 60px;
        font-size: 20px;
        text-align: center;

        &.active {
          color: color(header-text);
          font-weight: bold;
          background-color: color(primary);
          border-radius: 30px;
        }
      }
    }
  }
}
